body{
    background-color: #008080;
    color: black;
    font-family: 'DotGothic16', sans-serif;
    font-weight: bolder;
}

header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 10px solid #010081;
    padding: 10px 20px;
}

#logo{
    transition: 500ms cubic-bezier(0, 0.65, 1,-0.2);
}

#logo:hover{
    transform: rotate(360deg);
    transition: 500ms cubic-bezier(1,-0.03, 0, 0.98);
}

a{
    display: inline-flex;
    align-items: center;
    color: black;
    font-size: 20px;
    text-decoration: none;
    margin-right: 30px;
}

a::before{
    transition: 100ms cubic-bezier(1, 0.98, 0.54, 1.48);
    content: "";
    background-color: #010081;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

a:hover::before{
    transform: scale(1.5);
}

nav{
    text-align: right;
}

.window{
    background-color: #c3c3c3;
    box-shadow: -2px -2px #e0dede, -2px 0 #e0dede, 0 -2px #e0dede, -4px -4px white, -4px 0 white, 0 -4px white, 2px 2px #818181, 0 2px #818181, 2px 0 #818181,  2px -2px #e0dede, -2px 2px #818181, -4px 2px white, -4px 4px black, 4px 4px black, 4px 0 black, 0 4px black, 2px -4px white, 4px -4px black;
}

#img{
    background-image: url(../assets/img/bkgnd.png);
    height: 55vh;
    background-position: center;
    background-repeat: none;
    background-size:cover;
    background-attachment:fixed;
    border-bottom: 4px solid #010081;
    padding: 100px 250px;
}

#containerSkills{
    margin: 50px auto -50px;
    height: 100vh;
}

#skills{
    margin: auto;
    width: 80vw;
    height: 70vh;
}

#texto{
    width: 50vw;
    height: 50vh;
}

#containerProjetos{
    margin: 50px auto -50px;
    height: 100vh;
}

#projetos{
    margin: auto;
    width: 80vw;
    height: 70vh;
}

#imgProjetos{
    display: flex;
    justify-content: space-between;
    padding: 100px 50px;
}

#imgProjetos > img{
    image-rendering: pixelated;
    height: 200px;
    min-height:max-content;
}

#containerSobre{
    margin: 50px auto -50px;
    height: 100vh;
}

#sobre{
    margin: auto;
    width: 80vw;
    height: 70vh;
}

footer{
    background-color: #c3c3c3;
    height: 60px;
}
