body{
    background-color: #008080;
    background-image: linear-gradient(45deg , rgba(255, 255, 255,rgba(0, 0, 0, 0.5)55, .5));
    color: black;
    font-family: 'DotGothic16', sans-serif;
    font-weight: bolder;
}