.main-contato{
    display: flex;
    justify-content: center;
    height: 90vh;
}
.containerContato{
    margin-top: 10vh;
    text-align: center;
}

.formContato{
    padding: 20px;
    display: inline-block;
    text-align: justify;
}

.formContato > input{
    width: 100%;
    padding: 3px;
}


.formContato > p > input{
    width: 100%;
}