.window{
    background-color: #c3c3c3;
    box-shadow: -2px -2px #e0dede, -2px 0 #e0dede, 0 -2px #e0dede, -4px -4px white, -4px 0 white, 0 -4px white, 2px 2px #818181, 0 2px #818181, 2px 0 #818181,  2px -2px #e0dede, -2px 2px #818181, -4px 2px white, -4px 4px black, 4px 4px black, 4px 0 black, 0 4px black, 2px -4px white, 4px -4px black;
}

.window > .winHeader {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, #000b7c, #377cc6);
    color: white;
    padding: 0.25rem;
}

.headerBtn{
    cursor: pointer;
    display: flex;
    gap: 3px;
}


.container{
    margin: 50px auto -50px;
    height: 100vh;
}

.container .window{
    margin: auto;
    width: 80vw;
    height: 90vh;
}