.imgProjetos{
    display: flex;
    justify-content: space-between;
    padding: 100px 50px;
}

.imgProjetos .iconProjeto{
    image-rendering: pixelated;
    height: 200px;
    min-height:max-content;
}

.soon{
    cursor: no-drop;
}